@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Concert+One|Pacifico");
@import url("https://fonts.googleapis.com/css?family=Merienda+One");
.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spikes {
  position: absolute;
  height: 60%;
  width: 0.5rem;
  top: -10000;
  left: 0;
  right: 0;
  margin: auto;
  transform-origin: bottom;
  box-sizing: border-box;
}
.spikes span {
  width: 100%;
  background-color: green;
  position: absolute;
  display: inline-flex;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 400px;
  border-radius: 40px;
}
.spikes span:nth-child(1) {
  animation: moveOut-1 1s linear infinite;
  animation-delay: 0.25s;
  border-radius: 0px;
  width: 0.5rem;
  bottom: 5%;
  height: 0.5rem;
  opacity: 0;
  border-radius: 0.5rem;
}
.spikes span:nth-child(2) {
  animation: moveOut-2 1s linear infinite;
  animation-delay: 0.5s;
  border-radius: 0px;
  width: 0.5rem;
  bottom: 10%;
  height: 1rem;
  opacity: 0;
  border-radius: 0.5rem;
}
.spikes span:nth-child(3) {
  animation: moveOut-3 1s linear infinite;
  animation-delay: 0.75s;
  border-radius: 0px;
  width: 0.5rem;
  bottom: 15%;
  height: 1.5rem;
  opacity: 0;
  border-radius: 0.5rem;
}
.spikes span:nth-child(4) {
  animation: moveOut-4 1s linear infinite;
  animation-delay: 1s;
  border-radius: 0px;
  width: 0.5rem;
  bottom: 20%;
  height: 2rem;
  opacity: 0;
  border-radius: 0.5rem;
}
.spikes span:nth-child(1) {
  background-color: #725ac1;
}
.spikes span:nth-child(2) {
  background-color: #00a6fb;
}
.spikes span:nth-child(3) {
  background-color: #f50057;
}
.spikes span:nth-child(4) {
  background-color: #ffc107;
}

.spikes:nth-child(1) {
  transform: rotate(6deg);
}

.spikes:nth-child(2) {
  transform: rotate(12deg);
}

.spikes:nth-child(3) {
  transform: rotate(18deg);
}

.spikes:nth-child(4) {
  transform: rotate(24deg);
}

.spikes:nth-child(5) {
  transform: rotate(30deg);
}

.spikes:nth-child(6) {
  transform: rotate(36deg);
}

.spikes:nth-child(7) {
  transform: rotate(42deg);
}

.spikes:nth-child(8) {
  transform: rotate(48deg);
}

.spikes:nth-child(9) {
  transform: rotate(54deg);
}

.spikes:nth-child(10) {
  transform: rotate(60deg);
}

.spikes:nth-child(11) {
  transform: rotate(66deg);
}

.spikes:nth-child(12) {
  transform: rotate(72deg);
}

.spikes:nth-child(13) {
  transform: rotate(78deg);
}

.spikes:nth-child(14) {
  transform: rotate(84deg);
}

.spikes:nth-child(15) {
  transform: rotate(90deg);
}

.spikes:nth-child(16) {
  transform: rotate(96deg);
}

.spikes:nth-child(17) {
  transform: rotate(102deg);
}

.spikes:nth-child(18) {
  transform: rotate(108deg);
}

.spikes:nth-child(19) {
  transform: rotate(114deg);
}

.spikes:nth-child(20) {
  transform: rotate(120deg);
}

.spikes:nth-child(21) {
  transform: rotate(126deg);
}

.spikes:nth-child(22) {
  transform: rotate(132deg);
}

.spikes:nth-child(23) {
  transform: rotate(138deg);
}

.spikes:nth-child(24) {
  transform: rotate(144deg);
}

.spikes:nth-child(25) {
  transform: rotate(150deg);
}

.spikes:nth-child(26) {
  transform: rotate(156deg);
}

.spikes:nth-child(27) {
  transform: rotate(162deg);
}

.spikes:nth-child(28) {
  transform: rotate(168deg);
}

.spikes:nth-child(29) {
  transform: rotate(174deg);
}

.spikes:nth-child(30) {
  transform: rotate(180deg);
}

.spikes:nth-child(31) {
  transform: rotate(186deg);
}

.spikes:nth-child(32) {
  transform: rotate(192deg);
}

.spikes:nth-child(33) {
  transform: rotate(198deg);
}

.spikes:nth-child(34) {
  transform: rotate(204deg);
}

.spikes:nth-child(35) {
  transform: rotate(210deg);
}

.spikes:nth-child(36) {
  transform: rotate(216deg);
}

.spikes:nth-child(37) {
  transform: rotate(222deg);
}

.spikes:nth-child(38) {
  transform: rotate(228deg);
}

.spikes:nth-child(39) {
  transform: rotate(234deg);
}

.spikes:nth-child(40) {
  transform: rotate(240deg);
}

.spikes:nth-child(41) {
  transform: rotate(246deg);
}

.spikes:nth-child(42) {
  transform: rotate(252deg);
}

.spikes:nth-child(43) {
  transform: rotate(258deg);
}

.spikes:nth-child(44) {
  transform: rotate(264deg);
}

.spikes:nth-child(45) {
  transform: rotate(270deg);
}

.spikes:nth-child(46) {
  transform: rotate(276deg);
}

.spikes:nth-child(47) {
  transform: rotate(282deg);
}

.spikes:nth-child(48) {
  transform: rotate(288deg);
}

.spikes:nth-child(49) {
  transform: rotate(294deg);
}

.spikes:nth-child(50) {
  transform: rotate(300deg);
}

.spikes:nth-child(51) {
  transform: rotate(306deg);
}

.spikes:nth-child(52) {
  transform: rotate(312deg);
}

.spikes:nth-child(53) {
  transform: rotate(318deg);
}

.spikes:nth-child(54) {
  transform: rotate(324deg);
}

.spikes:nth-child(55) {
  transform: rotate(330deg);
}

.spikes:nth-child(56) {
  transform: rotate(336deg);
}

.spikes:nth-child(57) {
  transform: rotate(342deg);
}

.spikes:nth-child(58) {
  transform: rotate(348deg);
}

.spikes:nth-child(59) {
  transform: rotate(354deg);
}

.spikes:nth-child(60) {
  transform: rotate(360deg);
}

.spikes:nth-child(61) {
  transform: rotate(366deg);
}

@keyframes moveOut-1 {
  0% {
    bottom: 200%;
    opacity: 1;
    transform: translateX(-50%) scale(1.5);
  }
  100% {
    bottom: 100%;
    opacity: 0.2;
    transform: translateX(-50%) scale(0.1);
  }
}
@keyframes moveOut-2 {
  0% {
    bottom: 200%;
    opacity: 1;
    transform: translateX(-50%) scale(1.5);
  }
  100% {
    bottom: 100%;
    opacity: 0.2;
    transform: translateX(-50%) scale(0.1);
  }
}
@keyframes moveOut-3 {
  0% {
    bottom: 200%;
    opacity: 1;
    transform: translateX(-50%) scale(1.5);
  }
  100% {
    bottom: 100%;
    opacity: 0.2;
    transform: translateX(-50%) scale(0.1);
  }
}
@keyframes moveOut-4 {
  0% {
    bottom: 200%;
    opacity: 1;
    transform: translateX(-50%) scale(1.5);
  }
  100% {
    bottom: 100%;
    opacity: 0.2;
    transform: translateX(-50%) scale(0.1);
  }
}
body {
  background: radial-gradient(ellipse at center, #d5b8ff 0%, #a537bc 100%);
  perspective: 1000px;
  display: flex;
  transform-style: preserve-3d;
  font-family: "Pacifico", cursive;
}

.card {
  top: 20vh;
  pointer-events: none;
  transform: translateZ(7em);
  padding: 30px;
  background: linear-gradient(to bottom, #020333 0%, #020333 75%, #ffffff 75%, #ffffff 100%);
  border-radius: 5px;
  width: 400px;
  height: 280px;
  margin: auto;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 50%;
  left: 0;
  bottom: -50px;
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
}
.card .card-content {
  margin: auto;
  text-align: center;
  transform-style: preserve-3d;
}
.card h1 {
  transform: translateZ(100px);
  color: #e0e0c8;
  font-size: 2.7em;
  font-weight: 400;
}
.card  p {
  transform: translateZ(50px);
  color: #dc7532;
  font-size: 1.7em;
  display: block;
}
.card .related {
  transform: translateZ(90px);
  color: #c04f87;
  font-size: 1.2em;
  font-family: "Concert One", cursive;
  font-weight: 400;
}
.card a {
  color: #dc7532;
  pointer-events: auto;
}

bokeh {
  position: fixed;
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  animation-name: explosion;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: cubic-bezier(0.84, 0.02, 1, 1);
}
bokeh:nth-child(1) {
  background-color: #95E1D3;
  transform: translate(97.3674906884vw, 50.2168243399vh);
  animation-duration: 4.2780125379s;
  animation-delay: -1.3066515677s;
}
bokeh:nth-child(2) {
  background-color: #FCE38A;
  transform: translate(50.0139729059vw, 79.4071082806vh);
  animation-duration: 4.713804248s;
  animation-delay: -0.2961745348s;
}
bokeh:nth-child(3) {
  background-color: #95E1D3;
  transform: translate(35.3930173175vw, 74.1819043608vh);
  animation-duration: 4.5333872726s;
  animation-delay: -0.3790419896s;
}
bokeh:nth-child(4) {
  background-color: #EAFFD0;
  transform: translate(44.9598616413vw, 35.6574928047vh);
  animation-duration: 2.3571565908s;
  animation-delay: -1.7683805594s;
}
bokeh:nth-child(5) {
  background-color: #95E1D3;
  transform: translate(21.0195285617vw, 43.6206165677vh);
  animation-duration: 4.5921602948s;
  animation-delay: -1.942870686s;
}
bokeh:nth-child(6) {
  background-color: #F38181;
  transform: translate(4.293172226vw, 10.7989795139vh);
  animation-duration: 3.5035943628s;
  animation-delay: -1.3351905803s;
}
bokeh:nth-child(7) {
  background-color: #F38181;
  transform: translate(98.8690254307vw, 95.2000998523vh);
  animation-duration: 2.525560308s;
  animation-delay: -1.2717419841s;
}
bokeh:nth-child(8) {
  background-color: #FCE38A;
  transform: translate(90.4743221316vw, 93.7503270485vh);
  animation-duration: 2.9164294065s;
  animation-delay: -0.6262504888s;
}
bokeh:nth-child(9) {
  background-color: #EAFFD0;
  transform: translate(77.6008680862vw, 67.3248148614vh);
  animation-duration: 2.4375889222s;
  animation-delay: -0.6221684876s;
}
bokeh:nth-child(10) {
  background-color: #FCE38A;
  transform: translate(3.4279602813vw, 92.0834010611vh);
  animation-duration: 4.9252661842s;
  animation-delay: -0.5805343021s;
}
bokeh:nth-child(11) {
  background-color: #FCE38A;
  transform: translate(38.0803669718vw, 49.3764449026vh);
  animation-duration: 3.137619433s;
  animation-delay: -1.539233888s;
}
bokeh:nth-child(12) {
  background-color: #F38181;
  transform: translate(69.957481254vw, 64.1320494322vh);
  animation-duration: 3.1332442046s;
  animation-delay: -0.8266276543s;
}
bokeh:nth-child(13) {
  background-color: #F38181;
  transform: translate(91.4227294349vw, 19.0445109424vh);
  animation-duration: 2.8857540958s;
  animation-delay: -0.5177743966s;
}
bokeh:nth-child(14) {
  background-color: #FCE38A;
  transform: translate(26.4158145094vw, 34.7545898587vh);
  animation-duration: 3.4039960233s;
  animation-delay: -0.3940716062s;
}
bokeh:nth-child(15) {
  background-color: #F38181;
  transform: translate(39.2641719607vw, 82.4870647279vh);
  animation-duration: 3.0664634435s;
  animation-delay: -1.8187828966s;
}
bokeh:nth-child(16) {
  background-color: #F38181;
  transform: translate(5.2768909802vw, 32.0644184082vh);
  animation-duration: 2.7483278666s;
  animation-delay: -1.4095847249s;
}
bokeh:nth-child(17) {
  background-color: #EAFFD0;
  transform: translate(4.0012808163vw, 6.9272726001vh);
  animation-duration: 3.98266555s;
  animation-delay: -1.7259136182s;
}
bokeh:nth-child(18) {
  background-color: #F38181;
  transform: translate(22.9494471118vw, 34.1264419154vh);
  animation-duration: 2.6453800274s;
  animation-delay: -1.08898447s;
}
bokeh:nth-child(19) {
  background-color: #95E1D3;
  transform: translate(60.155846713vw, 10.1459420079vh);
  animation-duration: 4.9200070405s;
  animation-delay: -0.1244628273s;
}
bokeh:nth-child(20) {
  background-color: #95E1D3;
  transform: translate(1.4522536876vw, 61.2547929875vh);
  animation-duration: 4.0540514666s;
  animation-delay: -1.691977243s;
}
bokeh:nth-child(21) {
  background-color: #95E1D3;
  transform: translate(30.3337176736vw, 72.3269251911vh);
  animation-duration: 2.285895917s;
  animation-delay: -1.8467343572s;
}
bokeh:nth-child(22) {
  background-color: #EAFFD0;
  transform: translate(61.2874094627vw, 38.7036618521vh);
  animation-duration: 3.1840871667s;
  animation-delay: -1.023555177s;
}
bokeh:nth-child(23) {
  background-color: #95E1D3;
  transform: translate(33.8965311764vw, 19.1409535278vh);
  animation-duration: 4.8564648312s;
  animation-delay: -0.5100258622s;
}
bokeh:nth-child(24) {
  background-color: #FCE38A;
  transform: translate(21.7849078288vw, 68.0066219229vh);
  animation-duration: 4.3691452722s;
  animation-delay: -1.8706551895s;
}
bokeh:nth-child(25) {
  background-color: #FCE38A;
  transform: translate(81.9738297804vw, 45.7630377031vh);
  animation-duration: 3.6400210323s;
  animation-delay: -0.1957237496s;
}
bokeh:nth-child(26) {
  background-color: #FCE38A;
  transform: translate(26.381705391vw, 40.0921510692vh);
  animation-duration: 2.4946501466s;
  animation-delay: -0.796673098s;
}
bokeh:nth-child(27) {
  background-color: #FCE38A;
  transform: translate(2.388683841vw, 10.3159842255vh);
  animation-duration: 2.4807395489s;
  animation-delay: -0.9915054566s;
}
bokeh:nth-child(28) {
  background-color: #95E1D3;
  transform: translate(59.9002369099vw, 81.4124292425vh);
  animation-duration: 3.6662850776s;
  animation-delay: -0.308316582s;
}
bokeh:nth-child(29) {
  background-color: #F38181;
  transform: translate(3.2727446484vw, 65.3852642131vh);
  animation-duration: 2.2504642229s;
  animation-delay: -1.9031515733s;
}
bokeh:nth-child(30) {
  background-color: #95E1D3;
  transform: translate(20.547461346vw, 37.7139508853vh);
  animation-duration: 4.4620044911s;
  animation-delay: -1.1861839642s;
}
bokeh:nth-child(31) {
  background-color: #FCE38A;
  transform: translate(57.3495008967vw, 88.7499817376vh);
  animation-duration: 3.6599672981s;
  animation-delay: -0.4641616783s;
}
bokeh:nth-child(32) {
  background-color: #EAFFD0;
  transform: translate(66.6109699859vw, 42.0025983814vh);
  animation-duration: 4.6530448693s;
  animation-delay: -0.7288024022s;
}
bokeh:nth-child(33) {
  background-color: #95E1D3;
  transform: translate(12.8073326856vw, 6.8543550844vh);
  animation-duration: 3.8117151277s;
  animation-delay: -1.3773296432s;
}
bokeh:nth-child(34) {
  background-color: #FCE38A;
  transform: translate(72.2901864488vw, 24.0668863597vh);
  animation-duration: 4.1394980654s;
  animation-delay: -1.8245013678s;
}
bokeh:nth-child(35) {
  background-color: #EAFFD0;
  transform: translate(43.4162767002vw, 38.8449379656vh);
  animation-duration: 2.0930197402s;
  animation-delay: -1.7140309214s;
}
bokeh:nth-child(36) {
  background-color: #FCE38A;
  transform: translate(3.6779115756vw, 24.6757193127vh);
  animation-duration: 2.2926723418s;
  animation-delay: -1.3919981923s;
}
bokeh:nth-child(37) {
  background-color: #F38181;
  transform: translate(84.7016800424vw, 48.413010228vh);
  animation-duration: 3.8115794272s;
  animation-delay: -1.7652914529s;
}
bokeh:nth-child(38) {
  background-color: #95E1D3;
  transform: translate(35.0527994434vw, 56.2084675576vh);
  animation-duration: 3.3230642026s;
  animation-delay: -0.3140158273s;
}
bokeh:nth-child(39) {
  background-color: #FCE38A;
  transform: translate(87.0587293671vw, 74.858069959vh);
  animation-duration: 3.8229783703s;
  animation-delay: -1.815558147s;
}
bokeh:nth-child(40) {
  background-color: #EAFFD0;
  transform: translate(58.8042060231vw, 40.6271850329vh);
  animation-duration: 3.8828568582s;
  animation-delay: -0.9123558368s;
}
bokeh:nth-child(41) {
  background-color: #FCE38A;
  transform: translate(20.6945946886vw, 35.8598355094vh);
  animation-duration: 3.2766671233s;
  animation-delay: -0.0572829697s;
}
bokeh:nth-child(42) {
  background-color: #EAFFD0;
  transform: translate(66.4617882709vw, 25.8581086827vh);
  animation-duration: 4.5490774609s;
  animation-delay: -1.3241544243s;
}
bokeh:nth-child(43) {
  background-color: #95E1D3;
  transform: translate(33.304956256vw, 85.1604379919vh);
  animation-duration: 4.1940073508s;
  animation-delay: -0.2709985408s;
}
bokeh:nth-child(44) {
  background-color: #FCE38A;
  transform: translate(53.2734645666vw, 58.3656475072vh);
  animation-duration: 4.1161766038s;
  animation-delay: -1.1881787124s;
}
bokeh:nth-child(45) {
  background-color: #95E1D3;
  transform: translate(2.1004195332vw, 23.3982898561vh);
  animation-duration: 3.6585155842s;
  animation-delay: -0.8119096323s;
}
bokeh:nth-child(46) {
  background-color: #F38181;
  transform: translate(16.290537013vw, 54.8834871412vh);
  animation-duration: 4.0284538383s;
  animation-delay: -0.872759415s;
}
bokeh:nth-child(47) {
  background-color: #F38181;
  transform: translate(36.1007411046vw, 47.7119091468vh);
  animation-duration: 4.9323725204s;
  animation-delay: -0.9807147957s;
}
bokeh:nth-child(48) {
  background-color: #F38181;
  transform: translate(18.8701753156vw, 26.0660573779vh);
  animation-duration: 4.8502191926s;
  animation-delay: -1.1242936239s;
}
bokeh:nth-child(49) {
  background-color: #95E1D3;
  transform: translate(81.512443296vw, 1.9214180592vh);
  animation-duration: 2.2215925846s;
  animation-delay: -1.9382884336s;
}
bokeh:nth-child(50) {
  background-color: #95E1D3;
  transform: translate(16.7378375206vw, 13.3318165641vh);
  animation-duration: 2.9137042533s;
  animation-delay: -1.9561006033s;
}
bokeh:nth-child(51) {
  background-color: #FCE38A;
  transform: translate(75.7606425316vw, 63.459111423vh);
  animation-duration: 3.3137721097s;
  animation-delay: -1.2832583098s;
}
bokeh:nth-child(52) {
  background-color: #F38181;
  transform: translate(21.6610840119vw, 43.8466354171vh);
  animation-duration: 2.6368942648s;
  animation-delay: -1.532368066s;
}
bokeh:nth-child(53) {
  background-color: #95E1D3;
  transform: translate(68.9758095957vw, 13.5955251979vh);
  animation-duration: 3.5816783001s;
  animation-delay: -1.9198253914s;
}
bokeh:nth-child(54) {
  background-color: #EAFFD0;
  transform: translate(39.9742883557vw, 81.3633680987vh);
  animation-duration: 3.5122409636s;
  animation-delay: -0.7442269456s;
}
bokeh:nth-child(55) {
  background-color: #95E1D3;
  transform: translate(45.3701361491vw, 65.0652312811vh);
  animation-duration: 3.7185371817s;
  animation-delay: -1.231982389s;
}
bokeh:nth-child(56) {
  background-color: #EAFFD0;
  transform: translate(58.8144058087vw, 21.1333038515vh);
  animation-duration: 3.2210115614s;
  animation-delay: -0.1379509713s;
}
bokeh:nth-child(57) {
  background-color: #95E1D3;
  transform: translate(15.0643016172vw, 44.5920063477vh);
  animation-duration: 2.1994910022s;
  animation-delay: -0.4472993262s;
}
bokeh:nth-child(58) {
  background-color: #FCE38A;
  transform: translate(38.8281260348vw, 10.8224407073vh);
  animation-duration: 3.3941039045s;
  animation-delay: -0.3588646061s;
}
bokeh:nth-child(59) {
  background-color: #FCE38A;
  transform: translate(33.1801680245vw, 46.7916650937vh);
  animation-duration: 2.6467950624s;
  animation-delay: -0.709562326s;
}
bokeh:nth-child(60) {
  background-color: #FCE38A;
  transform: translate(84.7651446053vw, 21.0829333113vh);
  animation-duration: 4.4546708713s;
  animation-delay: -0.6548141757s;
}
bokeh:nth-child(61) {
  background-color: #EAFFD0;
  transform: translate(18.6875726204vw, 50.6116530731vh);
  animation-duration: 2.9112654527s;
  animation-delay: -0.4594209107s;
}
bokeh:nth-child(62) {
  background-color: #FCE38A;
  transform: translate(47.6028019525vw, 35.6792139071vh);
  animation-duration: 3.5587195114s;
  animation-delay: -0.5259841951s;
}
bokeh:nth-child(63) {
  background-color: #F38181;
  transform: translate(63.1186095268vw, 31.4595698589vh);
  animation-duration: 2.1731137035s;
  animation-delay: -1.403965218s;
}
bokeh:nth-child(64) {
  background-color: #EAFFD0;
  transform: translate(1.8057163185vw, 92.932181582vh);
  animation-duration: 2.5139161684s;
  animation-delay: -0.7883748141s;
}
bokeh:nth-child(65) {
  background-color: #FCE38A;
  transform: translate(63.0549583274vw, 32.7434241806vh);
  animation-duration: 3.3105225378s;
  animation-delay: -0.0139802078s;
}
bokeh:nth-child(66) {
  background-color: #F38181;
  transform: translate(20.2351124171vw, 52.4256420344vh);
  animation-duration: 2.8244076794s;
  animation-delay: -0.8018099431s;
}
bokeh:nth-child(67) {
  background-color: #FCE38A;
  transform: translate(25.1870555913vw, 28.9908580432vh);
  animation-duration: 3.6817852936s;
  animation-delay: -0.7546049702s;
}
bokeh:nth-child(68) {
  background-color: #95E1D3;
  transform: translate(6.6256368787vw, 90.1620838034vh);
  animation-duration: 3.6962065938s;
  animation-delay: -1.3774413524s;
}
bokeh:nth-child(69) {
  background-color: #FCE38A;
  transform: translate(98.7861506716vw, 48.431979193vh);
  animation-duration: 3.4352543317s;
  animation-delay: -0.6089092013s;
}
bokeh:nth-child(70) {
  background-color: #EAFFD0;
  transform: translate(53.6364925836vw, 91.3641446014vh);
  animation-duration: 3.9973780366s;
  animation-delay: -0.0576911615s;
}
bokeh:nth-child(71) {
  background-color: #95E1D3;
  transform: translate(6.7634249904vw, 85.6341848154vh);
  animation-duration: 3.4455474706s;
  animation-delay: -1.3239924993s;
}
bokeh:nth-child(72) {
  background-color: #FCE38A;
  transform: translate(83.3829948324vw, 58.7198982277vh);
  animation-duration: 2.6704751766s;
  animation-delay: -0.2681979064s;
}
bokeh:nth-child(73) {
  background-color: #95E1D3;
  transform: translate(21.1771439139vw, 75.8029940088vh);
  animation-duration: 3.8762857897s;
  animation-delay: -1.326934289s;
}
bokeh:nth-child(74) {
  background-color: #FCE38A;
  transform: translate(46.4985625775vw, 54.6638910183vh);
  animation-duration: 3.8040961247s;
  animation-delay: -0.149954797s;
}
bokeh:nth-child(75) {
  background-color: #95E1D3;
  transform: translate(16.4320555537vw, 41.8290321804vh);
  animation-duration: 3.2798557899s;
  animation-delay: -1.3873161596s;
}
bokeh:nth-child(76) {
  background-color: #FCE38A;
  transform: translate(82.5817418828vw, 17.8690990638vh);
  animation-duration: 3.3607953341s;
  animation-delay: -1.6486314634s;
}
bokeh:nth-child(77) {
  background-color: #FCE38A;
  transform: translate(7.0286531247vw, 62.1375352782vh);
  animation-duration: 3.3987218721s;
  animation-delay: -1.7302573223s;
}
bokeh:nth-child(78) {
  background-color: #F38181;
  transform: translate(21.5789688308vw, 30.2535093353vh);
  animation-duration: 3.7022227948s;
  animation-delay: -0.5753959618s;
}
bokeh:nth-child(79) {
  background-color: #95E1D3;
  transform: translate(73.3037413365vw, 31.235277895vh);
  animation-duration: 4.9546703219s;
  animation-delay: -0.0086058851s;
}
bokeh:nth-child(80) {
  background-color: #95E1D3;
  transform: translate(77.6071506394vw, 35.1683428667vh);
  animation-duration: 2.2246194698s;
  animation-delay: -0.4271737332s;
}
bokeh:nth-child(81) {
  background-color: #EAFFD0;
  transform: translate(51.8053499096vw, 14.8996976355vh);
  animation-duration: 3.2568744858s;
  animation-delay: -1.9520999684s;
}
bokeh:nth-child(82) {
  background-color: #FCE38A;
  transform: translate(36.9965256885vw, 58.5138745175vh);
  animation-duration: 3.4327168557s;
  animation-delay: -0.8779923021s;
}
bokeh:nth-child(83) {
  background-color: #F38181;
  transform: translate(13.9429789051vw, 21.0850264728vh);
  animation-duration: 3.6409671078s;
  animation-delay: -0.4549256598s;
}
bokeh:nth-child(84) {
  background-color: #95E1D3;
  transform: translate(40.0561841525vw, 81.9109358545vh);
  animation-duration: 3.9170127204s;
  animation-delay: -0.4314416099s;
}
bokeh:nth-child(85) {
  background-color: #95E1D3;
  transform: translate(97.9952601476vw, 18.2021976268vh);
  animation-duration: 2.3966675852s;
  animation-delay: -1.0745281044s;
}
bokeh:nth-child(86) {
  background-color: #95E1D3;
  transform: translate(57.9029489348vw, 18.8577806976vh);
  animation-duration: 4.2567703322s;
  animation-delay: -1.8689626396s;
}
bokeh:nth-child(87) {
  background-color: #95E1D3;
  transform: translate(98.0156218338vw, 59.2634746949vh);
  animation-duration: 2.2512734423s;
  animation-delay: -0.817695836s;
}
bokeh:nth-child(88) {
  background-color: #FCE38A;
  transform: translate(42.9309379831vw, 71.8876194878vh);
  animation-duration: 2.9776914807s;
  animation-delay: -1.2427536142s;
}
bokeh:nth-child(89) {
  background-color: #FCE38A;
  transform: translate(74.9428841687vw, 73.4454809933vh);
  animation-duration: 3.4881798585s;
  animation-delay: -1.261969659s;
}
bokeh:nth-child(90) {
  background-color: #EAFFD0;
  transform: translate(41.5153741224vw, 15.177379401vh);
  animation-duration: 2.0108884449s;
  animation-delay: -0.8664761268s;
}
bokeh:nth-child(91) {
  background-color: #F38181;
  transform: translate(13.0335751525vw, 30.3537299916vh);
  animation-duration: 4.2546175745s;
  animation-delay: -0.7102937319s;
}
bokeh:nth-child(92) {
  background-color: #FCE38A;
  transform: translate(55.3404980196vw, 43.0287302817vh);
  animation-duration: 4.732053414s;
  animation-delay: -1.8181115237s;
}
bokeh:nth-child(93) {
  background-color: #FCE38A;
  transform: translate(40.4129237862vw, 95.3429078168vh);
  animation-duration: 2.4572324889s;
  animation-delay: -1.6368093515s;
}
bokeh:nth-child(94) {
  background-color: #EAFFD0;
  transform: translate(61.0698644883vw, 14.7422458627vh);
  animation-duration: 4.0566703394s;
  animation-delay: -1.0968546926s;
}
bokeh:nth-child(95) {
  background-color: #95E1D3;
  transform: translate(91.0640859828vw, 88.3435840774vh);
  animation-duration: 2.7077313242s;
  animation-delay: -1.6809015528s;
}
bokeh:nth-child(96) {
  background-color: #F38181;
  transform: translate(88.2492859374vw, 62.3849304905vh);
  animation-duration: 4.0697290209s;
  animation-delay: -0.4203741801s;
}
bokeh:nth-child(97) {
  background-color: #F38181;
  transform: translate(46.8704325552vw, 22.4798491785vh);
  animation-duration: 4.788485517s;
  animation-delay: -1.1868677769s;
}
bokeh:nth-child(98) {
  background-color: #EAFFD0;
  transform: translate(43.7860505475vw, 22.6690866344vh);
  animation-duration: 2.4332369923s;
  animation-delay: -0.5164028079s;
}
bokeh:nth-child(99) {
  background-color: #95E1D3;
  transform: translate(14.3964870451vw, 68.7378685759vh);
  animation-duration: 2.8534402008s;
  animation-delay: -1.4853404399s;
}
bokeh:nth-child(100) {
  background-color: #F38181;
  transform: translate(98.9723488351vw, 74.8652859557vh);
  animation-duration: 4.7800608945s;
  animation-delay: -0.682854658s;
}

@keyframes explosion {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(50vw, 50vh);
  }
}
